<?php

return [
    'fields' => [
        'color_general' => 0,
        'color_collection' => 0,
    ],
    'fieldMeta' => [
        'color_general' => [
            'dbtype' => 'int',
            'precision' => '10',
            'attributes' => 'unsigned',
            'phptype' => 'integer',
            'null' => false,
            'default' => 0,
        ],
        'color_collection' => [
            'dbtype' => 'int',
            'precision' => '10',
            'attributes' => 'unsigned',
            'phptype' => 'integer',
            'null' => false,
            'default' => 0,
        ],
    ],
    'aggregates' => [
        'ms2colorGeneral' => [
            'class' => 'ms2colorsColor',
            'local' => 'color_general',
            'foreign' => 'id',
            'cardinality' => 'one',
            'owner' => 'local',
        ],
        'ms2colorCollection' => [
            'class' => 'ms2colorsColor',
            'local' => 'color_collection',
            'foreign' => 'id',
            'cardinality' => 'one',
            'owner' => 'local',
        ],
    ],
];
